html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  text-align: left;
}

.banner-content {
  margin: 0;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50em;
  padding: 0 1.5rem;
  width: 100%;
}

.banner-content h2 {
  display: inline;
  font-size: 4rem;
  line-height: 1.4em;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.banner-content p {
  font-size: 2rem;
  margin: 0;
  margin-top: 1rem;
}
